includes:
    - vendor/szepeviktor/phpstan-wordpress/extension.neon
parameters:
    scanFiles:
        - vendor/php-stubs/acf-pro-stubs/acf-pro-stubs.php
    paths:
        - acf-flexible-auto-assets.php
        - src/
    level: max
